{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>
        <table class = "table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Shares</th>
                            <th>Price</th>
                            <th>Transaction time</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in full %}
                        <tr>
                            <td>{{ row.symbol }}</td>
                            <td>{{ row.shares }}</td>
                            <td>{{ row.price | usd }}</td>
                            <td>{{ row.time}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </h1>
{% endblock %}